<div class="page-content">
    <div class="block">
    <h2>Your Wishes</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper vel est sed convallis. Aenean a
        laoreet augue. Vivamus vulputate libero vel est sagittis, et maximus leo efficitur. Nunc blandit euismod
        enim vitae molestie. In hac habitasse platea dictumst. Nulla facilisi. Ut iaculis mi id accumsan
        consequat. Nulla accumsan nunc a dolor dictum, at dapibus erat accumsan.
    </p>
    <div class="return-action"><router-link to="/dashboard">return to dashboard</router-link></div>
    <form @submit.prevent="updateWishes">
        <p>
            <label>BeneficiaryName</label>
            <input v-model="wishes.beneficiaryName"></input>
        </p>
        <div class="actions">
            <button class="update-action" type="submit">Update Wishes</button>
            <button class="reset-action" type="reset" v-on:click="getWishes">Reset</button>
        </div>  
        <div>
            <p>{{message}}</p>
        </div>
    </form>
    </div>
</div>
