<div class="page-content">
    <div class="block">
        <p>Welcome to your dashboard {{ this.$parent.activeUser.name }}.</p>
    </div>
    <div class="block">
        <h2>Recent Transactions</h2>
        <Transactions></Transactions>
    </div>
    <div class="block">
        <h2>Your available actions</h2>
            <p><router-link to="/profile">Manage your profile</router-link></p>
            <p><router-link to="/contributions">Adjust your contributions</router-link></p>
            <p><router-link to="/documents">Your documents</router-link></p>
            <p>Confirm your wishes</p>
    </div>
</div>