VUE_APP_CLIENT_ID={{yourclientid}}
VUE_APP_ISSUER='https://{{yourtenant}}.okta.com/oauth2/'
VUE_APP_SCOPE=openid profile email transactions:read documents:read profile:read access:read access:write
VUE_APP_API_BASE_URI=http://localhost:3000
PORT=8181