<div class="page-content">
    <div class="block">
        <p>Welcome {{ this.$parent.activeUser.name }}.</p>
    </div>
    <div class="block">
        <h2>Your Available Actions</h2>
            <p><router-link to="/profile">Manage your profile</router-link></p>
            <p><router-link to="/accounts">Manage your accounts</router-link></p>
            <p><a href="https://il-poc.okta-emea.com/home/salesforce/0oa2iip7xsx8gErpK0i7/46">Salesforce CRM</a></p>
            <p><a href="https://il-poc.okta-emea.com/home/google/0oa2indg4eqrYCYaq0i7/52">Google Docs</a></p>
    </div>
</div>