#contribution-actions{
    padding:10px;
}

#update-contributions{
    border: none;
    border-radius: 2px;
    background-color: #5261ac;
    color: white;
    padding: .25em .5em;
    cursor: pointer;
    margin:10px;
    font-size: medium;
}

#reset-contributions{
    border: none;
    border-radius: 2px;
    background-color: gray;
    color: white;
    padding: .25em .5em;
    cursor: pointer;
    margin:10px;
    font-size: medium;
}