<div class="page-content">
    <div class="block">
    <h2>Your Profile</h2>
    <div><font-awesome-icon class="clickable" icon="user" size="2x"/></div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper vel est sed convallis. Aenean a
        laoreet augue. Vivamus vulputate libero vel est sagittis, et maximus leo efficitur. Nunc blandit euismod
        enim vitae molestie. In hac habitasse platea dictumst. Nulla facilisi. Ut iaculis mi id accumsan
        consequat. Nulla accumsan nunc a dolor dictum, at dapibus erat accumsan.
    </p>
    <div class="return-action"><router-link to="/dashboard">return to dashboard</router-link></div>
        
        <p>
            <label>Member Reference</label>
            <input v-model="profile.memberReference"></input>
        </p>
        <p>
            <label>First Name</label>
            <input v-model="profile.firstName"></input>
        </p>
        <p>
            <label>Family Name</label>
            <input v-model="profile.familyName"></input>
        </p>
        <p>
            <label>Marital Status</label>
            <input v-model="profile.maritalStatus"></input>
        </p>
        <p>
            <label>Gender</label>
            <input v-model="profile.gender"></input>
        </p>
        <p>
            <label>Salary</label>
            <input v-model="profile.salary"></input>
        </p>
        <p>
            <label>PPS Number</label>
            <input v-model="profile.ppsNumber"></input>
        </p>
        <p>
            <label>Contact Number</label>
            <input v-model="profile.phoneNumber"></input>
        </p>
        <p>
            <label>Date of Birth</label>
            <input v-model="profile.retirementDate"></input>
        </p>
        <p>
            <label>Date Joined Scheme</label>
            <input v-model="profile.dateJoinedScheme"></input>
        </p>
        <p>
            <label>Address</label>
            <input v-model="profile.address"></input>
        </p>    
    </div>
</div>
